<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Security Demo</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: green;
    }
</style>

<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">
                Registration and
                Login</a>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>User Login Page</h1>
            <div  id="form">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.</div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.</div>
                </div>

                <div class="form-group">
                    <label for="email"> Username </label> :
                    <input type="text" class="form-control" id="email"
                           name="email" placeholder="Enter Email ID"
                           autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password" id="password" name="password"
                           class="form-control" placeholder="Enter Password" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button  name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-primary"
                                     value="Log In" >submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registration}">
                Register
                  here</a></span>
            </div>
        </div>
    </div>
</div>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    document.getElementById("login-submit").onclick=  function (){
        const data = {
            email:document.getElementById("email").value,
            password:document.getElementById("password").value
        };
        $.ajax({
            url: "/login",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(response){
                alert(JSON.stringify(response.headers.get('Authorization')));
                window.location = '/error';
            },
            error: function(err){
                alert(JSON.stringify(err.responseText));
                window.location = '/abonnement?jwt=' + err.responseText;
            }
        });
    };

</script>
</body>
</html>